notifications:
  email: false

language: python

python:
  - "2.7"
  - "3.3"
  - "3.4"

# enable "Build pushes" and "Build pull requests" in Travis CI
# - pull requests will always be built
# - only build pushes to master
branches:
  only:
    - master

before_install:
  - sudo apt-get -qq update
  - sudo apt-get install clang-format-3.9

install:
  - pip install -r requirements.txt
  - wget https://github.com/google/protobuf/releases/download/v3.4.0/protoc-3.4.0-linux-x86_64.zip
  - unzip protoc-3.4.0-linux-x86_64.zip
  - export PATH="${TRAVIS_BUILD_DIR}/bin:$PATH"

script:
  - make test

# - cd codegen/
# - python -m unittest discover
# - python build.py --output=../out/ --filename=../can_messages.asciipb
